dist/
__pycache__/
.pytest_cache/
venv/
.DS_Store
enrollmentdata/
completiondata/
graduationdata/
retentiondata/
characteristicsdata/
cipdata/
admissionsdata/
notebooks/
.env
TODO.txt
scratch/
screenshots/